html
    head
        title #{musica.tit}
        link(rel='stylesheet', href='/stylesheets/w3.css')
    body
        div(class="w3-container w3-teal")
            h1 Página da música "#{musica.tit}"
        div
        ul(class="w3-ul")
            li Identificador = #{musica.id}
            li Provincia = #{musica.prov}
            li Nome = #{musica.tit}
            li Cantor/Banda = #{musica.musico}
            li Nome do ficheiro = #{musica.file}
            li Tipo do ficheiro = #{musica.fileType}
            li Duração da música = #{musica.duracao}
        ul
        hr
        address 
            a(href="/musicas") Voltar à lista